<footer class="bg-dark text-center  text-white">
    <!-- <div class="container">
        <hr class="my-4" />
        <section class="mb-3">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>
                        Você não está sozinho(a). Existe uma rede de apoio pronta para ajudá-lo(a) a superar essa
                        situação. Não hesite em procurar ajuda e compartilhar seus sentimentos com amigos, familiares ou
                        profissionais de saúde mental. Juntos, podemos enfrentar o cyberbullying e criar um ambiente
                        online mais seguro e acolhedor para todos.
                    </p>
                </div>
            </div>
        </section>
    </div> -->
    <div class="text-center p-3 bg-black">
        © 2024 Copyright:
        <a class="text-white" href="https://www.linkedin.com/in/rafaeltomass/">CyberHelp</a>
    </div>
</footer>