<app-hero></app-hero>
<div class="bg-black">
    <app-more-information [isHome]="true"></app-more-information>
</div>
<!-- <div class="image-section-bg">
    <div class="container-fluisd mt-5">
        <div class="row ms-0 me-0 align-items-center g-2">
            <div class="col-12 d-flex justify-content-center align-items-centers">
                <div class="card  w-50">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            Denucie!
                        </h4>
                        <p class="card-text text-muted text-center">
                            Conte o que aconteceu, iremos te ajudar!
                        </p>
                        <form >
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Name">Name</label>
                                <input type="text" id="Name" aria-describedby="nameHelpBlock" class="form-control" />
                                <small id="nameHelpBlock" class="form-text text-muted">
                                    Só se sentir confortavél.
                                </small>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="contact">Contato</label>
                                <input type="text" id="contact" aria-describedby="contactHelpBlock" class="form-control" />
                                <small id="contactHelpBlock" class="form-text text-muted">
                                    Número ou email para entrarmos em contato.
                                </small>
                            </div>


                            <div class="form-outline mb-4">
                                <label class="form-label" for="form4Example3">Messagem</label>
                                <textarea class="form-control" id="form4Example3" placeholder="Pode falar que iremos te ajudar, somos especialistas!"
                                    rows="4"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
                        </form>
                    </div>
                </div>


            </div>
            <div class="col">Ajuda</div>
        </div>
    </div>
</div> -->
